$blue: #218491; //sostituiamo il "primary" di bootstrap con il colore primario del nostro sito


.my-txt-dark{ 
    //color primario del testo dark
    color: #262626 !important;
} 
.my-bg-dark{
    //color primario del background dark
    background-color: #262626;
}
.my-txt-semi-dark{
    //color secondario del testo
    color: #6F6F6F;
}
.my-bg-light{
    //color background light
    background-color: #F1F1F1;
}
.my-txt-light{
    color: #F1F1F1;
}

.w-80{
    width: 80%;
}